.cart-page {
    margin: 30px 0;
}

.cart-page .shop-table-wrapper {
    overflow-x: auto;
}

.cart-page-wrapper {
    display: flex;
    justify-content: space-between;
}

.cart-page .cart-form {
    flex-basis: 60%;
}

.cart-page .free-progress-bar {
    border: 1px solid #dee0ea;
    padding: 20px;
    width: 100%;
}

.free-progress-bar .progress-bar-title {
    font-size: 12px;
}

.free-progress-bar .progress-bar-title strong {
    color: #e51414;
}

.free-progress-bar .progress-bar {
    background-color: #f5f5f5;
    height: 6px;
    border-radius: 5px;
    margin-top: 8px;
    position: relative;
    z-index: -1;
}

.free-progress-bar .progress {
    background-color: #e51414;
    width: 30%;
    height: 6px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.cart-form table img {
    width: 60px;
}

.cart-form table > :not(caption) > * > * {
    padding: 8px 0;
}

.cart-form table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
    min-width: 560px;
}

.cart-form table thead th {
    text-align: start;
    font-size: 14px;
    font-weight: 600;
}
.cart-form table thead .product-quantity,
.cart-form table thead .product-subtotal {
    text-align: center;
}

.cart-form table tbody {
    border-top: 1px solid #dee0ea;
}

.cart-form table tbody .cart-thumbnail {
    position: relative;
}

.cart-form table tbody .cart-thumbnail i {
    position: absolute;
    top: 2px;
    left: -6px;
    background-color: #e51414;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.cart-form table tbody .cart-quantity,
.cart-form table tbody .cart-subtotal {
    text-align: center;
}

.cart-form table tbody .cart-item {
    border-bottom: 1px solid #dee0ea;
}

.actions-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.actions-wrapper .coupon {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.actions-wrapper .coupon button {
    background-color: #000;
    color: #fff;
}

.actions-wrapper .input-text {
    height: 100%;
}

.actions-wrapper .update-cart button {
    border-color: #e51414;
    background-color: #e51414;
    color: #fff;
}

.cart-collaterals {
    flex: 0 0 300px;
    border: 1px solid #dee0ea;
    padding: 30px;
}

.cart-collaterals table {
    width: 100%;
    border-collapse: collapse;
}

.cart-collaterals h2 {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dee0ea;
}

.cart-collaterals * {
    font-size: 14px;
    font-weight: 400;
}

.cart-collaterals table tr:not(:last-child) {
    border-bottom: 1px solid #dee0ea;
}

.cart-collaterals table th {
    text-align: start;
    padding: 20px 0 10px 0;
}

.cart-collaterals table td {
    text-align: end;
    padding: 20px 0 10px 0;
}

.cart-collaterals table ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.cart-collaterals table ul label {
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: flex-end;
}

.cart-collaterals table ul a {
    color: #e51414;
    font-weight: 500;
}

.cart-collaterals table ul a:hover {
    text-decoration: underline;
}

.cart-collaterals table strong {
    font-size: 18px;
    font-weight: 700;
}

.cart-collaterals .checkout {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cart-collaterals .checkout button {
    width: 100%;
    border-color: #e51414;
    background-color: #e51414;
    color: #fff;
}

@media (max-width: 992px) {
    .cart-page-wrapper {
        flex-direction: column;
        row-gap: 30px;
    }
}
